.container
  img.cloud.cloud1(src="https://i.imgur.com/oPOfdBH.png")
  img.cloud.cloud2(src="https://i.imgur.com/Ihk5CWj.png")
  .button-wrapper
    img.cloud.cloud3(src="https://i.imgur.com/oPOfdBH.png")
    .bear
      img.body(src="https://i.imgur.com/6FMk0iD.png")
      img.hand(src="https://i.imgur.com/vmIUj4z.png")
    img.button(src="https://i.imgur.com/NWb0Twz.png")
  img.cloud.cloud4(src="https://i.imgur.com/Ihk5CWj.png")
.content-wrapper
  - var imgData = [{ body: 'https://i.imgur.com/GZpXNld.png', wingLeft: 'https://i.imgur.com/xOIP5Dy.png', wingRight: 'https://i.imgur.com/WJ2WDLh.png', beak: 'https://i.imgur.com/UkZ7kZr.png', eye: "#C2D2FC", foot: "#3B92C2" },{ body: 'https://i.imgur.com/i2fftCp.png', wingLeft: 'https://i.imgur.com/PamUJjc.png', wingRight: 'https://i.imgur.com/YQciKkG.png', beak: 'https://i.imgur.com/5KN3UhU.png', eye: "#FAF8C4", foot: "#BA7373"}, { body: 'https://i.imgur.com/iHuf644.png', wingLeft: 'https://i.imgur.com/oNuSek6.png', wingRight: 'https://i.imgur.com/Rjm5wQv.png', beak: 'https://i.imgur.com/F9t8o9U.png', eye: "#0F87A2", foot: "#074B6C"}, { body: 'https://i.imgur.com/AfV6rek.png', wingLeft: 'https://i.imgur.com/s6hSoJT.png', wingRight: 'https://i.imgur.com/FPr88Wc.png', beak: 'https://i.imgur.com/ckUI8cW.png', eye: "#B2F3EF", foot: "#21666A"} ];
  each item, index in imgData
    .bird(class=`bird-${index}`)
      img.body(src=item.body)
      img.wing-left(src=item.wingLeft)
      img.wing-right(src=item.wingRight)
      img.beak(src=item.beak)
      .eyes
        .eye-left(style=`background: ${item.eye}`)
        .eye-right(style=`background: ${item.eye}`)
      .foot-left(style=`background: ${item.foot}`)
      .foot-right(style=`background: ${item.foot}`)
